/**
 * @name GameSense 「gamesense.vip」
 * @version 1.0.4
 * @description Get Good. Get [GameSense](https://gamesense.vip/). 〡 Join to the [gamesense discord server](https://discord.gamesense.media).
 * @authorId 850826026959372308
 * @author Motify#0033
 * @website https://discord.gamesense.media
 * @source https://github.com/mtfy/gamesense-discord-theme
 * @updateUrl https://raw.githubusercontent.com/mtfy/gamesense-discord-theme/main/gamesense.theme.css
**/
@import url('https://gamesense.wiki/static/css/gamesense.theme.css?v=1.0.4');
.theme-dark,.theme-light,:root{
    --title-gradient:linear-gradient( to right, #37b1da 0, #c948cd 50%, #cce335 100% );
    --primary-color:#66cc00;
    --brand-experiment: #66cc00 !important;
    --outline-color:#0a0a0a;
    --outline-lightcolor:#303030;
    --app-color:#111;
    --channels-color:#111;
    --channels-darker:#0c0c0c;
    --channels-selected:#191919;
    --channels-text-selected:#9fca2b;
    --chat-color:#1a1a1a;
    --mention-color:#1f1f1f;
    --scrollbar-bg:#2d2d2d;
    --scrollbar-thumb:#414141;
    --text-input:#191919;
    --dropdown-color:#232323;
    --link-color:#96c83c;
    --channel-radius:5px;
    --text-color:#cbcbcb;
    --text-darker:#b0b0b0;
    --font:"Verdana", "Helvetica";
    --important-notification-l:#f84747;
    --important-notification:#d12020;
    --background-primary:#141414 !important;
    --background-secondary:#111 !important;
    --background-secondary-alt:#292929 !important;
    --brand-experiment-05a: #111111A6 !important;
    --background-tertiary:#0c0c0c !important;
    --background-accent:#242424 !important;
    --background-floating:black !important;
    --background-modifier-hover:rgba(255, 255, 255, 0.01) !important;
    --background-modifier-active:rgba(255, 255, 255, 0.03) !important;
    --background-modifier-selected:rgba(255, 255, 255, 0.04) !important;
    --background-modifier-accent:hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background:var(--background-accent) !important;
    --deprecated-card-bg:rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg:rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-bg:var(--deprecated-card-editable-bg) !important;
    --deprecated-text-input-border:var(--background-floating) !important;
    --deprecated-text-input-border-disabled:var( --background-tertiary ) !important;
    --activity-card-background:var(--background-primary) !important;
    --channels-default:#9f9f9f !important;
    --text-muted:#b6b6b6 !important;
    --text-normal:#fbfbfb !important;
    --interactive-normal:#c8c8c8 !important;
    --interactive-hover:#dcddde !important;
    --interactive-active:#fff !important;
    --interactive-muted:#747474 !important;
    --header-primary:white !important;
    --header-secondary:#c9c9c9 !important;
    --toast-background:var(--background-primary) !important;
    --toast-header:var(--background-tertiary) !important;
    --toast-contents:var(--background-secondary) !important;
    --toast-box-shadow:rgba(0, 0, 0, 0.2) !important;
    --toast-border:var(--background-tertiary) !important
}

